// Links
//
// Markup:
// <a href="#">
//  <svg width="28" height="28" viewBox="0 0 28 28">
//   <use xlink:href="#set1-comment" />
//  </svg> Link
// </a>
//
// Weight: 2
//
// Style guide: Buttons.Links

a {
    line-height: 28px;
    font-size: 14px;
    color: color('royal-blue');
    text-decoration: none;
    svg{
        float: left;
        fill: color('royal-blue');
        &:hover{
            background-color: color('white');
            color: darken(color('royal-blue'), 6%);
        }
    }
}