
@mixin form-element {
  border-radius: $global-border-radius;
  height: $form-element-height;
  min-height: $form-element-height; // cannot be squished together
  margin-bottom: $form-element-margin-bottom;
  transition: .2s;
  width: 100%;

  &:focus {
   outline: 0;
  }

  @media($mq-desktop) {
    width: auto;
  }
}
