
@mixin input-element {
  border-radius: $global-border-radius;
  height: $inputs-height;
  margin-bottom: $inputs-margin-bottom;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  &:focus {
   outline: 0;
  }

  @media($mq-desktop) {
    width: auto;
  }
}
