
@mixin input-element {
  height: 50px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  &:focus {
   outline: 0;
  }

  @media($mq-desktop) {
    width: initial;
  }
}
