
@mixin input-element {
  @include form-element;

  -webkit-appearance: none;
  appearance: none;
  background-color: color("white");
  border: solid 1px color("grey");
  padding-left: $inputs-padding-left;

  @media($mq-desktop) {
    min-width: $inputs-min-width;
  }

  &:disabled {
    background-color: color("grey-lighter");
    border-color: darken(color("grey-light"), 5);
    cursor: not-allowed;
  }
}
