// Form Elements
//
// Weight: 6
//
// Style guide: FormElements

// Inputs
//
// Markup:
//  <div class="form-field">
//   <label for="text">Test</label>
//   <input type="text" placeholder="Placeholder" id="text" />
//  </div>
//  <div class="form-field">
//   <label for="text" class="disabled">Test</label>
//   <input type="text" placeholder=":disabled" disabled="disabled" id="text" />
//  </div>
//  <div class="form-field--has-errors">
//   <label for="text">Test</label>
//   <input aria-invalid="true" type="text" value="text" id="text" />
//   <span>Something is wrong.</span>
//  </div>
//
// Weight: 1
//
// Style guide: FormElements.Inputs

$border-color: #29384A;
$border-color-shadow: black;
$placeholder-color: #888FA8;
$focus-color: #2278F1;
$focus-color-shadow: #CBE6FF;

@mixin inputStyle{
    display: block;
    border-radius: 2px;
    font-size: 14px;
    height: 40px;
    color: color('carbon');
    padding: 0 15px; 
    color: color(carbon);  
    margin-bottom: 10px; 
    line-height: 100%;
    outline: none;

    ::-webkit-input-placeholder{
        color: $placeholder-color;
    }
    ::-moz-placeholder {
        color: $placeholder-color;
    }
    :-ms-input-placeholder {
        color: $placeholder-color;
    }
    :-moz-placeholder {
        color: $placeholder-color;
    }
}

.form-field{
    label {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 34px;     
    }

    label.disabled{
        opacity: .5;
    }

    input[type=text]{
        @include inputStyle;
        width: calc(100% - 30px);       
        border: 1px solid rgba($border-color, 0.2);
        

        &:focus{
            border-color: #2278F1;
            outline:none;
        }

        &:disabled{
            opacity: .5;
            background: white;
            cursor: not-allowed;
        }
    }

    select {
        display: block;
        width: 100%;
        height: 40px;
        background-color: white;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: url("/assets/images/icons/input/select-arrow.svg") no-repeat;
        background-position: right;
        padding-right:30px;
        padding: 0 15px;
        margin-bottom: 10px;
        option{
            height: 40px;
            width: 90%;
            padding: 0 10px;
            line-height: 100%;
            font-size: 14px;
            &:hover{
                background-color: color("sky-blue");
            }
        }
    }

    span.itn-checkbox {
        margin-right: 10px;
        margin-bottom: 10px;

        input[type=checkbox]{
            opacity: 0;
            display: none;

            &+label{
                position: relative;
            }

            &+label:before{
                content: "\200b";
                display: inline-block;
                width: 17px;
                height: 17px;
                border: 1px solid rgba($border-color, .2);
                border-radius: 2px;
                margin-right: 5px;
                vertical-align: -8px;
            }

            &:focus+label:before{
                border-color: $focus-color;
            }

            &:checked+label:before{
                background-color: $focus-color;
            }

            &:checked+label:after{
                content: '';
                position: absolute;
                left: 4px;
                top: 7px;
                background: white;
                width: 2px;
                height: 2px;
                box-shadow: 
                2px 0 0 white,
                4px 0 0 white,
                4px -2px 0 white,
                4px -4px 0 white,
                4px -6px 0 white,
                4px -8px 0 white;
                transform: rotate(45deg);
            }
        }
    }

    span.itn-radio {
        margin-right: 10px;
        margin-bottom: 10px;

        input[type=radio]{
            opacity: 0;
            display: none;

            &+label{
                position: relative;
            }

            &+label:before{
                content: "\200b";
                display: inline-block;
                width: 17px;
                height: 17px;
                border: 1px solid rgba($border-color, .2);
                border-radius: 50%;
                margin-right: 5px;
                vertical-align: -8px;
            }

            &:focus+label:before{
                border-color: $focus-color;
            }

            &:checked+label:before{
                background-color: $focus-color;
            }

            &:checked+label:after{
                content: '';
                position: absolute;
                left: 7px;
                top: 5px;
                background: white;
                width: 5px;
                height: 5px;
                border-radius: 50%;
            }
        }
    }


}

.form-field--has-errors {
    color: color('alarm-red');
    input[aria-invalid="true"], input[aria-invalid="true"]:focus {
        width: calc(100% - 45px);
        @include inputStyle;
        border: 1px solid color('alarm-red');
        background: url("/assets/images/icons/input/error-red.svg") no-repeat;
        background-position: right;
        padding-right:30px;
    }
}

// Select
//
// Markup:
//  <div class="form-field">
//   <label for="select">Test</label>
//   <select placeholder="Placeholder" id="select">
//      <option value="unknown">unknown</option>
//      <option value="male">male</option>
//      <option value="female">female</option>
//   </select>
//  </div>
//
// Weight: 2
//
// Style guide: FormElements.Select

// Checkbox
//
// Markup:
//   <div class="form-field">
//    <span class="itn-checkbox">
//     <input type="checkbox" id="checkbox1" /> 
//     <label for="checkbox1">Option one</label>
//    </span>
//    <span class="itn-checkbox">
//     <input type="checkbox" id="checkbox2" checked/> 
//     <label for="checkbox2">Option two</label>
//    </span>
//   </div>
//
// Weight: 3
//
// Style guide: FormElements.Checkbox

// Radio
//
// Markup:
//   <div class="form-field">
//    <span class="itn-radio">
//     <input type="radio" id="radio1" name="radio" /> 
//     <label for="radio1">Option one</label>
//    </span>
//    <span class="itn-radio">
//     <input type="radio" id="radio2" name="radio" checked/> 
//     <label for="radio2">Option two</label>
//    </span>
//   </div>
//
// Weight: 4
//
// Style guide: FormElements.Radio