// Buttons
//
// Your standard button suitable for clicking.
//
// :hover    - Highlights when hovering.
// :disabled - Greyed out when disabled
//
// Markup:
// <button class="{{modifier_class}}">Click Button</button>
// <input type="button" class="{{modifier_class}}" value="Click Input Button">
// <input type="submit" class="{{modifier_class}}" value="Click Input Submit">
// <a href="#" class="button {{modifier_class}}">Click Link</a>
//
// Style guide: Base.Buttons

button,
.button,
input[type=button],
input[type=submit] {
  @include input-element;

  border: solid 1px;
  border-color: darken($palette-green, 5);
  background-color: $palette-green;
  color: $palette-white;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background-color: darken($palette-green, 5);
    border-color: darken($palette-green, 10);
    border: solid 1px darken($palette-green, 5);
  }

  &:disabled {
    background-color: $palette-grey;
    border-color: darken($palette-grey, 5);
    cursor: not-allowed;
  }
}

a.button {
  display: inline-block;
  line-height: 50px; // TODO: introduce variable
  text-align: center;
}
