// Buttons
//
// Your standard button suitable for clicking.
//
// :hover    - Highlights when hovering.
// :disabled - Greyed out when disabled
// .button--warn - red button
// .button--info - blue button
// .button--add - dashed ouline button with plus sign added before text
// .button--text - text only button (DEPRECATED: use a link instead)
// .button--text.button--muted - text only button, muted text color
//
// Markup:
// <button class="{{modifier_class}}">Click Button</button>
// <input type="button" class="{{modifier_class}}" value="Click Input Button">
// <input type="submit" class="{{modifier_class}}" value="Click Input Submit">
// <a href="#" class="button {{modifier_class}}">Click Link</a>
//
// Style guide: Base.Buttons

button,
.button,
input[type=button],
input[type=submit] {
  @include input-element;

  border: solid 1px;
  border-color: darken($palette-green, 5);
  background-color: $palette-green;
  color: $palette-white;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background-color: darken($palette-green, 5);
    border-color: darken($palette-green, 10);
    border: solid 1px darken($palette-green, 5);
    color: $palette-white; // for .button
  }

  &:disabled {
    background-color: $palette-grey;
    border-color: darken($palette-grey, 5);
    cursor: not-allowed;
  }

  &.button--warn {
    background-color: $palette-red;
    border-color: darken($palette-red, 5);
    color: $palette-white;

    &:hover {
      background-color: darken($palette-red, 5);
      border-color: darken($palette-red, 10);
      color: $palette-white;
    }
  }

  &.button--info {
    background-color: $palette-blue;
    border-color: darken($palette-blue, 5);
    color: $palette-white;

    &:hover {
      border-color: darken($palette-blue, 10);
      background-color: darken($palette-blue, 5);
      color: $palette-white;
    }
  }

  &.button--add {
    background-color: transparent;
    border-style: dashed;
    border-color: $palette-grey;
    color: $palette-grey;

    &:before {
      content: "+ ";
    }

    &:hover {
      border-color: darken($palette-grey, 10);
      color: darken($palette-grey, 10);
    }
  }

  // TODO: replace with link
  &.button--text {
    border: 0;
    background-color: transparent;
    color: $palette-grey-dark;
    line-height: 25px;
    text-transform: none;

    &:hover {
      border: 0;
      background-color: transparent;
      color: darken($palette-grey-dark, 10);
    }

    &.button--muted {
      color: $palette-grey;

      &:hover {
        color: darken($palette-grey, 10);
      }
    }
  }
}

a.button {
  display: inline-block;
  line-height: $inputs-height;
  text-align: center;
}

