
// Links
//
// Your standard link suitable for clicking.
//
// :hover    - Highlights when hovering.
// .muted    - dimmed version
//
// Markup:
// <a href="#" class="{{modifier_class}}">Click Link</a>
//
// Style guide: 3.3

a {
  color: $palette-grey-dark;
  text-decoration: none;

  &:hover {
    color: darken($palette-grey-dark, 10);
  }

  &.muted {
    color: $palette-grey;

    &:hover {
      color: darken($palette-grey, 10);
    }
  }
}
