
// Links
//
// Your standard link suitable for clicking.
//
// :hover    - Highlights when hovering.
// .muted    - dimmed version
//
// Markup:
// <a href="#" class="{{modifier_class}}">Click Link</a>
//
// Style guide: Base.Links

a {
  color: color("grey-dark");
  text-decoration: none;

  &:hover {
    color: darken(color("grey-dark"), 10);
  }

  &.muted {
    color: color("grey");

    &:hover {
      color: darken(color("grey"), 10);
    }
  }
}
