
body {
  @include nd-font-family();
  //@include text-style("body1");
  line-height: 1.5;

  // better font rendering
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// reset headers
h1, h2, h3, h4, h5 {
  //@include text-style("body1");
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
