
// Button Group
//
// Groups a set of buttons horizontally
//
// .--primary-lime - Primary lime button styling
// .--primary-blue - Primary royal blue button styling
// .--secondary-metal - Secondary metal button styling
// .--secondary-abort - Secondary abort button styling
//
// Markup:
//   <div class="button-group">
//     <button class="{{modifier_class}}">Button 1</button>
//     <button class="{{modifier_class}}">Button 2</button>
//     <button class="{{modifier_class}}">Button 3</button>
//   </div>
//
// Weight:3
//
// Style guide: Buttons.Button Group


.button-group {
  display: flex;
  .button, button {
    flex: 1 1 0; // flex-basis: 0 makes equal width
    border-radius: 0;
    border-right-width: 0;
    border-right: 1px solid rgba(nd-color('carbon'), .2);
    &:first-of-type {
      border-top-left-radius: $global-border-radius;
      border-bottom-left-radius: $global-border-radius;
    }
    &:last-of-type {
      border-top-right-radius: $global-border-radius;
      border-bottom-right-radius: $global-border-radius;
      border-right-width: 0;
    }
  }
}
