
// Button Group
//
// Groups a set of buttons horizontally
//
// Markup:
//   <div class="button-group">
//     <button>Button 1</button>
//     <button>Button 2</button>
//     <button>Button 3</button>
//   </div>
//
// Style guide: Modules.Button Group


.button-group {
  display: flex;
  .button, button {
    flex: 1 1 0; // flex-basis: 0 makes equal width
    border-radius: 0;
    border-right-width: 0;
    &:first-of-type {
      border-top-left-radius: $global-border-radius;
      border-bottom-left-radius: $global-border-radius;
    }
    &:last-of-type {
      border-top-right-radius: $global-border-radius;
      border-bottom-right-radius: $global-border-radius;
      border-right-width: $button-border-width;
    }
  }
}
