
// Progress Indicator
//
// Based on work by Chris Tabor.
// See: https://github.com/christabor/css-progress-wizard
//
// Markup:
// <ol class="progress-indicator">
//   <li class="completed"><span class="bubble"></span> Step 1 </li>
//   <li class="completed"><span class="bubble"></span> Step 2 </li>
//   <li class="progress"><span class="bubble"></span> Step 3 </li>
//   <li><span class="bubble"></span> Step 4 </li>
//   <li><span class="bubble"></span> Step 5 </li>
// </ol>
//
// Style guide: Modules.ProgressIndicator


// colors

$incomplete: $palette-grey;
$complete: $palette-green;
$active: #337AB7 !default;
$step-danger: #d3140f !default;
$step-warning: #edb10a !default;
$step-info: #5b32d6 !default;

// sizing

$bubble-size: 14px !default;
$bubble-line-thickness: 2px !default;
$border-thickness: 1px !default;
$darken-amount: 30% !default;

@mixin bubble-style($color) {
  background-color: $color;
  color: $color;
  border-color: darken($color, $darken-amount);
  &:before,
  &:after {
    background-color: $color;
    border-color: darken($color, $darken-amount);
  }
}

.progress-indicator {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 80%;
  text-transform: uppercase;
  margin-bottom: 1em;

  > li {
    flex: 1;
    list-style: none;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: $incomplete;
    display: block;
  }
  > li .bubble {
    border-radius: 1000px;
    width: $bubble-size;
    height: $bubble-size;
    background-color: $incomplete;
    display: block;
    margin: 0 auto 0.5em auto;
  }

  // line connectors

  > li .bubble:before,
  > li .bubble:after {
    display: block;
    position: absolute;
    top: $bubble-size / 2 - $border-thickness;
    width: calc(50% - #{$bubble-size / 2});
    height: $bubble-line-thickness;
    content: '';
    background-color: $incomplete;
  }
  > li .bubble:before {
    left: 0;
  }
  > li .bubble:after {
    right: 0;
  }

  // progress state

  > li.progress {
    .bubble:before {
      background-color: $complete;
    }
  }

  // completed state

  > li.completed {
    color: $complete;
    .bubble {
      @include bubble-style($complete);
    }
  }

  // current state

  > li.active {
    color: $active;
    .bubble {
      @include bubble-style($active);
    }
  }

  // override states

  > li.danger .bubble {
    @include bubble-style($step-danger);
  }
  > li.warning .bubble {
    @include bubble-style($step-warning);
  }
  > li.info .bubble {
    @include bubble-style($step-info);
  }
}

