// Colors
//
// Defined colors
//
// Weight: 3
//
// Markup:
// <div class="color-sample sample1"></div>
// <div class="color-sample sample2"></div>
// <div class="color-sample sample3"></div>
// <div class="color-sample sample4"></div>
// <div class="color-sample sample5"></div>
// <div class="color-sample sample6"></div>
// <div class="color-sample sample7"></div>
// <div class="color-sample sample8"></div>
//
// Style guide: Colors

$colors: (
  'carbon': #202A37,
  'royal-blue': #2278f1,
  'lime': #2abf00,
  'sky-blue': #cbe6ff,
  'grass': #bbeda2,
  'metal': #888FA8,
  'alarm-red': #e94659,
  'white': #ffffff
);

@function color($name) {
  @if not map-has-key($colors, $name) {
    @error "Invalid color specified! Choose one of #{map-keys($colors)}";
  }
  @return map-get($colors, $name);
}

@mixin color($bgColor, $fontColor){
  background-color: color($bgColor);
  color: color($fontColor);
}

// generate samples
.color-sample {
  height: 40px;
  padding-left: 5px;
  line-height: 40px;

  $color-names: map-keys($colors);
  @each $name, $value in $colors {
    &.sample#{index($color-names, $name)} {
      background-color: $value;
      @if (lightness($value) < 60) {
        color: color("white");
      }
      &:after {
        content: "#{$name}: #{$value}";
      }
    }
  }
}

@each $name, $value in $colors {
  .text-#{$name}{
    color:$value
  }
}

@each $name, $value in $colors {
  .bg-#{$name}{
    background-color:$value
  }
}

// Text color classes
//
// .text-carbon - Carbon text color
// .text-royal-blue - Royalblue text color
// .text-lime - Lime text color
// .text-sky-blue - Sky blue text color
// .text-grass - Grass text color
// .text-metal - Metal text color
// .text-alarm-red - Alarm red text color
// .text-white - White text color
//
// Markup:
// <div class="{{modifier_class}}">This is a sample text</div>
//
// Weight: -2
//
// Style guide: Colors.TextClasses

// Background color classes
//
// .bg-carbon - Carbon background color
// .bg-royal-blue - Royalblue background color
// .bg-lime - Lime background color
// .bg-sky-blue - Sky blue background color
// .bg-grass - Grass background color
// .bg-metal - Metal background color
// .bg-alarm-red - Alarm red background color
// .bg-white - White background color
//
// Markup:
// <div class="{{modifier_class}}">This is a sample text</div>
//
// Weight: -1
//
// Style guide: Colors.BgClasses

// color($name)
//
// Sass function that returns specified color hex value from color palette.
//
// Usage:
//
// <pre>
// .my-component {
//   background-color: color("green");
//   color: color("metal");
// }
// </pre>
//
// $name - Name of the color.
//
// Style guide: Colors.Functions

// color($bgColor, $fontColor)
//
// Sass mixin that sets background color and font color.
//
// Usage:
//
// <pre>
// .my-component {
//   @include color("carbon", "white");
// }
// </pre>
//
// $bgColor - Name of background color.
// $fontColor - Name of font color.
//
// Style guide: Colors.Mixin
