
// Text Styles
//
// TODO: add desktop sizes
//
// Markup:
// <div class="text-sample display4"></div>
// <div class="text-sample display3"></div>
// <div class="text-sample display2"></div>
// <div class="text-sample display1"></div>
// <div class="text-sample headline"></div>
// <div class="text-sample title"></div>
// <div class="text-sample subheading"></div>
// <div class="text-sample placeholder"></div>
// <div class="text-sample body2"></div>
// <div class="text-sample body1"></div>
// <div class="text-sample caption"></div>
// <div class="text-sample detail"></div>
//
// Style guide: Core.Text Styles


// font weights Roboto
// thin: 100
// light: 300       (used)
// normal: 400      (used)
// medium: 500      (used)
// bold: 700
// ultra-bold: 900

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

$font-family: 'Roboto', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-regular: $font-weight-normal;
$font-weight-medium: 500;

// text styles
//
// color should be $palette-black if not specified otherwise

$text-styles: (
  display4: (
    font-size: 112px,
    font-weight: $font-weight-light
  ),

  display3: (
    font-size: 56px,
    font-weight: $font-weight-regular
  ),

  display2: (
    font-size: 45px,
    font-weight: $font-weight-regular
  ),

  display1: (
    font-size: 34px,
    font-weight: $font-weight-medium
  ),

  headline: (
    font-size: 24px,
    font-weight: $font-weight-regular
  ),

  title: (
    font-size: 20px,
    font-weight: $font-weight-medium
  ),

  subheading: (
    font-size: 16px,
    font-weight: $font-weight-regular
  ),

  //choice,
  placeholder: (
    font-size: 16px,
    font-weight: $font-weight-light,
    color: $palette-grey
  ),

  body2: (
    font-size: 14px,
    font-weight: $font-weight-medium,
    color: $palette-grey-dark
  ),

  body1: (
    font-size: 14px,
    font-weight: $font-weight-regular,
    color: $palette-black
  ),

  caption: (
    font-size: 12px,
    font-weight: $font-weight-regular
  ),

  detail: (
    font-size: 10px,
    font-weight: $font-weight-medium,
    color: $palette-grey-dark
  )
);

// generate placeholder classes
// (please don't use directly)
@each $name, $styles in $text-styles {
  %text-style-#{$name} {
    @each $key, $value in $styles {
      #{$key}: #{$value};
    }
  }
}


// use the mixin to set the text style
@mixin text-style($name) {
  @extend %text-style-#{$name};
}


// generate sample styles
.text-sample {
  @each $name, $styles in $text-styles {
    &.#{$name}:after {
      @include text-style($name);
      content: "#{$name}";
    }
  }
}
