
$global-border-radius: 4px;

$app-padding: 10px;
$app-background-color: color("grey-lighter");

$button-border-width: 1px;

$inputs-height: 50px;
$inputs-margin-bottom: 10px;
$inputs-min-width: 300px;
