
$global-border-radius: 2px;

$app-padding: 10px;
$app-background-color: color("grey-lighter");

$button-border-width: 1px;
$button-padding: 20px;

$form-element-height: 50px;
$form-element-margin-bottom: 5px;

$inputs-min-width: 300px;
$inputs-padding-left: 10px;


$hover-modificator: 3%;
