// Components
//
// Weight: 7
//
// Style guide: Components

// Feed cards
//
// Markup:
// <div class="itn-feed-cards">
//     <div class="feed-card">
//       <div class="feed-info">
//         <label>Main feed</label>
//         <small>Timestamp</small>
//       </div>
//     </div>
//     <div class="feed-card">
//         Main feed
//     </div>
// </div>
//
// Weight: 1
//
// Style guide: Components.FeedCards

.itn-feed-cards {
    $border: 1px solid rgba(color('metal'), 0.7);
    display: block;
    border-radius: 3px;
    border: $border;    
    .feed-card{
        position: relative;
        padding: 15px;        
        padding-left: 64px;
        display: block;
        border-bottom: $border;
        &:before{
                position:absolute;
                top:15px;
                left: 15px;
                content: "\200b";
                display: inline-block;
                height: 34px;
                width: 34px;
                border-radius: 50%;
                background-color: color('metal');
                margin-right: 15px;
            }
        .feed-info{
            

            label{
                display: inline-block;
                color: rgba(#192532, .95);
                line-height: 16px;
                font-size: 14px;
                margin-bottom: 4px;
                width: calc(100% - 65px);
            }
            small {
                display: inline-block;
                line-height: 13px;
                font-size: 11px;
                width: calc(100% - 65px);                
            }
        }
        
    }
}